@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js");

.Login-Page {
  font-family: "work sans";
  background-image: url("./images/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 10rem auto; */
  padding-bottom: 2.8rem;
}

html {
  font-size: 100%;
}

.loginform {
  display: inline-block;
  position: relative;
  left: 35%;
  width: 30%;
  height: 65%;
  margin: 100px auto;

  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
  padding-bottom: 12.3%;
}

.frame {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
}

img {
  /* position: absolute; */
  display: inline-flex;
  width: 156px;
  height: 43px;
  /* margin: 3% auto; */
  margin: 2% 0 0 3%;
  order: 0;
  float: left;
  top: 11.73%;
  left: 36.5%;
}

#version {
  position: relative;
  left: 16%;
  width: 119px;
  height: 33px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: inline-block;
  /* align-items: center; */
  color: #dedede;
  flex: none;
  order: 1;
  flex-grow: 0;

  /* position: relative;
    width: 119px;
    height: 33px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    margin: 5% auto;
    color: #DEDEDE; */
}

#headerTitle {
  position: relative;
  left: 4%;
  width: 75%;
  height: 55px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;

  color: #222222;
  margin: 3% auto 0 auto;
  justify-content: center;
  /* position:relative;
    left:0;
    right:0;
    width: 293px;
    height: 55px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #222222;
    margin:8% auto 0 auto;
    justify-content: center; */
}
.desc {
  /* position: absolute;
    left: 0;
    right: 0; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 75%;
  height: 44px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* text-align: center; */
  color: #a7a7a7;
  margin: 2.5% auto auto auto;
  /* justify-content: center; */
}
.row {
  display: block;
  /* flex-direction: column; */
  align-items: center;
  padding-top: 15px;
}
.row .email {
  /* position: absolute;
    left:0; */

  /* top:9%; */
  /* 
    margin-right:auto;
    margin-top: 20%; */
  margin-left: 3rem;
  width: 75%;
  box-sizing: border-box;
  /* border: 5px; */
  font-size: 1.3rem;
  padding-top: 5%;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  border: 1px solid rgba(149, 13, 13, 0.3);
  border-radius: 5px;
}
.row .password {
  /* position: absolute;
    left:0;
    right:0;
    top: 18%; */
  /* margin-left:auto;
    margin-right:auto;
    margin-top: 20%; */
  margin-left: 3rem;
  width: 75%;
  box-sizing: border-box;
  border: 5px;
  font-size: 1.3rem;
  padding-top: 5%;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  border: 1px solid rgba(149, 13, 13, 0.3);
  border-radius: 5px;
}

input::placeholder {
  font-size: medium;
  padding-top: 20px;
}
.row input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
}
.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
  opacity: 0;
}

#box {
  position: absolute;
  left: 13.5%;
  top: 61.3%;
  /* bottom: 50.5%; */
  background: #a7a7a7;
}
.check-box {
  display: inline-block;
  width: 4%;
  height: 13px;

  /* bottom: 10px;
    padding-top: 0; */
}
.remember {
  /* padding-right:10%; */
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-inside {
  /* display:flex;
    padding-top: 1rem; */
}
.remember-label {
  position: absolute;
  width: 370px;
  height: 0;
  left: 5.4rem;
  /* right: 32.5rem; */
  bottom: 14.45rem;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #a7a7a7;
  flex-wrap: wrap;
}
#forgot {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 0;
  bottom: 14.45rem;
  left: 60.5%;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
}

.row button {
  border-radius: 25px;
  width: 75%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: #305ba5;
  border: 0px;
  cursor: pointer;
  position: relative;
  top: 40px;
  /* right: 38.6%; */
}

.row .button:hover {
  opacity: 0.8;
}

#button {
  /* padding-bottom: 1.5rem; */
}
.copyright {
  /* margin-top: 1rem;
    margin-top: 1rem; */
  position: absolute;
  top: 82%;
  right: 6%;
}
.symbol {
  position: relative;
  position: absolute;
  top: 59.034%;
  right: 18%;
}
