.add-note-popup {
  box-sizing: border-box;
  position: fixed;
  width: 473px;
  height: 780px;
  left: 1045px;
  top: 5px;
  background: #FFFFFF;
  border-right: 1px solid #f7f7f7;
  /* box-shadow: -7px 4px 31px 24px rgba(0, 0, 0, 0.03); */
}
.body{
  position: fixed;
width: 1519px;
height: 1024px;
left: 0px;
top: 0px;

background: rgba(207, 206, 206, 0.61);
backdrop-filter: blur(8px);
}
.add-note-popup{
  /* background: rgba(207, 206, 206, 0.61); */
  backdrop-filter: blur(50px);
}
 .add-note-popup{
    /* background: rgba(207, 206, 206, 0.61); */
}
.header-title {
  position: absolute;
  width: 128px;
  height: 33px;
  left: 32px;
  top: 7px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #000000;
}
.note-title {
  position: absolute;
  width: 394px;
  height: 66px;
  left: 32px;
  top: 50px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #222222;
}

#add-note-input{
  width: 409px;
  height: 402px;
}
.input-box {
  box-sizing: border-box;
  position: absolute;

  left: 32px;
  top: 150px;
  background: #f6f6f6;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  padding-bottom: 50%;
  padding-right: 0%;
  padding-top: 0%;
  font-size: .51em;
}

.input-box::placeholder {
  position: absolute;
  width: 172px;
  height: 27px;
  left: 24px;
  top: 24px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #a6a6a6;
}
h4 {
  position: absolute;
  width: 239px;
  height: 33px;
  left: 38px;
  top: 540px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #000000;
}

.rate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  position: absolute;
  width: 235px;
  height: 31px;
  left: 30px;
  top: 608px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: rgb(241, 241, 241);
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 324px;
  height: 48px;
  left: 89px;
  top: 667px;
}
.save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 36px;
  gap: 8px;
  width: 177px;
  height: 48px;
  background: #305ba5;
  border-radius: 8px;
  cursor: pointer;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #FFFFFF;
}
.cancel-button {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 36px;
  gap: 8px;
  width: 123px;
  height: 48px;
  border: 1px solid #305ba5;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
