#Profile {
  position: relative;
  padding-left: 37px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: auto;
  height: 33px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #222222;
}
.navbar-profile {
  border-right-width: 0px;
  padding-right: 0px;
  width: 1300px;
  position: fixed;
  padding-left: rem;
  left: 16.05rem;
  font-weight: 500;
  width: 2070px;
  background-color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 2px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
}
