.saved-note {
  background: #fcffff;
  margin: 10px;
  margin-bottom: 0px;
  float: left;
  display: flex;
  flex-direction: column;
  bottom: 11.4rem;
  position: inherit;
  width: 850px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 57px;
  bottom: 42px;
  font-family: "Avenir Next";
}
.saved-note a {
  font-size: 0.5em;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-flex;
}
.note-header #add-note-saved{
  
  margin:5px 5px 0 30px;
}

.add-delete{
  display: none;
}

/* .saved-note a:hover{

  background-color: yellowgreen;
  
} */
/* .saved-note a:hover + .add-delete-saved{
  display: inline-flex;
  
} */
a:hover + .add-delete {
  display:block;  
}
/* .note-header a:hover::after + .add-delete{
  
} */
.add-note-span{
  margin-left:5px;
}
.delete-note-span{
  margin-left:5px;
}


.note-header{
  /* background-color: blue; */
  width: 1000px;
  padding-left: 1px;
  display: inline-flex;
}
.saved-note p {
  font-size: 0.5em;
  margin: 5px 0px;
}
.Tags {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 16px;
  gap: 8px;
  width: 46px;
  height: 23px;

  border: 1px solid #a6a6a6;
  border-radius: 1000px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.TagFrame-Saved {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 16px;
  width: 447px;
  margin-top: 10px;
  height: 23px;
  left: 0px;
  top: 45px;
}
.SavedContent-Display {
  padding-top: 80px;
}
@media screen and (max-width: 935px) {
  .saved-note{
    width: 609px;
    padding-left: 32%;
    /* font-size: .25em; */
  }
  
}
