.container-fluid {
  /* position: relative; */
  background-color: #ffffff;
}
#Library {
  position: relative;
  padding-left: 54px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 157px;
  height: 33px;
  /* font-family: "Avenir Next LT Pro"; */
  margin-right: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #222222;
}
.navbar-search {
  border-right-width: 0px;
  padding-right: 0px;
  width: 1300px;
  position: fixed;
  padding-left: rem;
  left: 16.05rem;
  height: 80px;
  width: 2070px;
  background-color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 2px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
}

input {
  width: 202px;
  height: 27px;

  font-family: "Avenir Next ";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;

  color: #000000;
}
.search-NAV {
  position: relative;
  right: 62rem;
  top: 0.5rem;
}
search {
  right: 10px;
}
.Search {
  position: relative;
  width: 978px;
  height: 70px;
  background-color: #f6f6f6;
  border: 0;
  padding-left: 1rem;
  padding-right: 0px;
  margin-right: 20px;
  border-radius: 15px;
  margin-top: 16px;
}
.form {
  position: relative;
  left: 350px;
  width: 978px;
  height: 56px;
  bottom: 21px;
  border-right-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 20px;
}
