.SearchPage {
  /* display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  flex-direction: column; */
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 1475px;
  flex-direction: column;
}

