
.note {
  background: #fcffff;
  margin: 10px;
  margin-bottom: 0px;
  float: left;
  display: flex;
  flex-direction: column;
  bottom: 11.4rem;
  position: inherit;
  width: 850px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 57px;
  bottom: 42px;
  font-family: "Avenir Next";
}
#save-tag{
 margin-left: 40;
}
.search-title-header{
  margin-bottom: 10px;
}
.note a {
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: none;
  line-height: 33px;
  font-weight: 600;
  color: #222222;
}
.note p {
  font-size: 0.5em;
  margin: 5px 0px;
  color: #222222;
  font-family: 'Avenir Next';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}
#Tags{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #222222;
}
.results-count{
  font-family: 'Avenir Next';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
padding-left: 11px;
}
.google-count{
  margin-left: 5px;
  font-weight: 600
  ;
}
.Tags {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 16px;
  gap: 8px;
  width: fit-content;
  height: 23px;
  font-family: avenir;
  border: 1px solid #a6a6a6;
  border-radius: 1000px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.TagFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 16px;
  width: 447px;
  margin-top: 5px;
  height: 23px;
  left: 0px;
  top: 45px;
}
.SavedContent-Display {
  padding-top: 100px;
}

@media screen and (max-width: 935px) {
  .note{
    width: 609px;
    padding-left: 22%;
    /* font-size: .25em; */
  }
  
}