.SearchPage {
  /* display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  flex-direction: column; */
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 1475px;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #FCFFFF;
}
@media screen and (max-width: 935px) {
  .SearchPage{
    width: 880px;
    /* background-color: #1a83ff; */

  }
}
